.header {

}

.content {
    width: 50vw;
}

body {
    display: flex;
    justify-content: center;

    background-color: rgb(241, 232, 232);

    font-family: roboto;
}

.image {
    width: 120px;
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,.2));
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.blogCard {

    padding-bottom: 24px;

    background-color: white;
    filter: drop-shadow(0px, 2px, 5px, lightgray);
}

a {
    color: rgb(94, 197, 154);
}